
h2 {
    font-weight: normal;
    margin-bottom:5px;
}

h3 {
    margin:0;
}

label {
    font-weight: bold;
}

.form-input {
    margin-bottom: 25px !important;
}

.form-description {
    margin-bottom: 20px;
}

.nav-tabs {
    margin-bottom: 30px;
}

textarea, input[type="text"] {
    width:  95%;
    max-width: 500px;
}

.content-container {
    padding:0 20px 20px;
}

.btn-container {
    width:95%;
    max-width:500px;
    text-align: right;
}

.notes {
    margin-bottom: 40px;
}

.notes p {
    line-height: 1.55;
    padding: 5px 5px 10px;
}

.notes a:hover, .notes a:focus {
        cursor: pointer !important;

    }
    
.ui-accordion-content {
    max-width:500px;
    font-size: .85rem;
}