
body {
    font-size: 15px;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing:auto;
}


h2 {
    font-weight: normal;
    margin-bottom:5px;
}

h3 {
    margin:0;
}

.clear {
    clear:both;    
}

label {
    font-weight: bold;
}

.form-input {
    margin-bottom: 25px !important;
}

.form-description {
    margin-bottom: 20px;
}

.nav-tabs {
    margin-top: 40px;
}

textarea, input[type="text"] {
    width:  95%;
    max-width: 500px;
}

textarea {
    height: 150px;
}


.comment-container comment {
    font-size: 1.5em;
    line-height: 2;
}

.btn-container {
    width:95%;
    max-width:500px;
    text-align: right;
}


.notes p {
    line-height: 1.55;
    padding: 5px 5px 10px;
}

.notes a:hover, .notes a:focus {
        cursor: pointer !important;

}

.comment-container form {
    text-align:right;
    margin-bottom: 0;
    padding: 0 0 .8rem; 
}

.comment-row {
    border-bottom: #ccc solid 1px;
    padding: .5rem 1rem 1.5rem;
}

.comment-row:nth-child(odd) {
    background-color: #f9f9f9;
}

.date {
    color:#787878;
    font-size: .8rem;
    padding-bottom:.5rem;
}

.comment {
    font-size: 1rem;
    padding: .5rem 0 .8rem;
    
}

.delete-comment {
    float:right;
    margin-top: -.5rem;
}
    
.ui-accordion-content {
    max-width:500px;
    font-size: .85rem;
}