{% load templatetag_handlebars %}
{% tplhandlebars "customize-tmpl" %}
<h2 id="anonymous-feedback-header">Customize Form</h2>

<div>
    <label for="form-name">Name</label>
    <input id="form-name" type="text" name="name" value="{{ name }}"/>
</div>
<div>
    <label for="form-description">Description</label>
    <textarea id="form-description" name="description">{{ description }}</textarea>
</div>
<div>
    <button type="submit" class="btn af-btn af-btn-update">Update</button>
    <button type="submit" class="btn af-btn af-btn-cancel">Cancel</button>
</div>
{% endtplhandlebars %}
