<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Anonymous Feedback</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true">

    {% load staticfiles %}
    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "anonymous_feedback/css/vendor/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "anonymous_feedback/css/vendor/bootstrap-responsive.min.css" %}"/>
    <link rel="stylesheet" type="text/x-scss" href="{% static "anonymous_feedback/css/main.scss" %}"/>
    {% endcompress %}
</head>
<body>
    <div id="wrapper" class="container" style="position:relative;">
        <div id="main-wrapper">
            <div id="main" aria-labelledby="anonymous-feedback-header">
                <div class="inner">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="{% static "anonymous_feedback/js/vendor/handlebars-4.0.11.min.js" %}"></script>
    <script src="{% static "anonymous_feedback/js/vendor/moment-2.20.1.min.js" %}"></script>
    <script src="{% static "anonymous_feedback/js/main.js" %}"></script>
    <script type="text/javascript">
        window.anonymous_feedback = {
            session_id: '{{ session_id }}',
            csrftoken: '{{ csrf_token }}',
            form_api: '{{ form_api }}',
            comments_api: '{{ comments_api }}'{% if comments_file %},
            comments_file: '{{ comments_file }}'{% endif %}
        };
    </script>
</body>
</html>
