<!doctype html>
<html class="no-js">
<head>
    <title>Anonymous Feedback</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true">

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "anonymous_feedback/css/vendor/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "anonymous_feedback/css/vendor/bootstrap-responsive.min.css" %}"/>
</head>
<body>

    <div id="wrapper" class="container" style="position:relative;">
        <div id="main-wrapper">
            <div id="main" aria-labelledby="anonymous-feedback-header">
                {% if can_edit %}
                <div>
                    <a class="af-btn-customize" href="#">Customize form</a> |
                    <a class="af-btn-comments" href="#">View comments ({{ comments|length }})</a>
                </div>
                {% endif %}
                <div id="af-content" class="inner">
                    {% block content %}{% endblock %}
                </div>
                {% include "handlebars/form.html" %}
                {% include "handlebars/customize.html" %}
                {% include "handlebars/comments.html" %}
            </div>
        </div>
    </div>

    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="{% static "anonymous_feedback/js/main.js" %}"></script>
    <script type="text/javascript">
        window.anonymous_feedback = {
            session_id: '{{ session_id }}',
            csrftoken: '{{ csrf_token }}',
            canvas_course_id: '{{ course_id }}'
        };
    </script>
</body>
</html>
